.base-footer-contacts {
  display: flex;
  align-items: center;

  &__soc-media {
    display: flex;

    &__link {
      padding: 10px;
    }
  }

  &__number {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ffffff;
    width: 154px;
    height: 42px;
    color: #ffffff;
    font-size: 12px;
  }
}