.base-footer-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ffffff;
  width: 154px;
  height: 42px;
  color: #ffffff;
  font-size: 12px;
}

@media (max-width: 1024px) {
  .base-footer-contact {
    width: 100px;
    font-size: 10px;
  }
}