.main {

  &__first-block {
    width: 100%;
    height: 1000px;
    background-image: url('../../assets/images/mainPageImg.png');
    background-position: center;
    background-size: cover;

    &__container {
      padding-top: 450px;
      max-width: 775px;
    }

    &__title {
      line-height: 70px;
      color: #ffffff;
      font-weight: 700;
      font-size: 60px;
    }

    &__text {
      margin-top: 30px;
      line-height: 28px;
      color: #ffffff;
      font-weight: 400;
      font-size: 20px;
    }
  }
}